<div class="book-page">
  <div class="d-flex justify-content-between">
  <h3 class="mb-3"> <%= @book.name %> </h3>
  <div class="d-none d-md-inline-block"> <%= erb :_download_btn %> </div>
  </div>
  <img class="img-fluid" src=<%= @book.image_url %> alt=<%= @book.name %> height="500px" />
  <article class="my-4">
  <p>
    <%= @book.summary %>
  </p>
  </article>
   <div class="my-3"> <%= erb :_download_btn %> </div>
   <% if signed_in? %>
    <h4> <%= @book.downloads.to_i %> <%= "Download".pluralize(@book.downloads.to_i) %> </h4>
   <% end %>
</div>